.chat-main{
  width:calc(100vw);
}

.main-header{
  height: 110px;
  padding: 0 40px 0 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: scroll;
  box-sizing: border-box;
  background: #000033;
  &__left-box{
    &__current-group{
      font-size: 20px;
      color:white;
      margin:5px 0;
    }
    &__menber-box{
      display:flex;
      height:65px;
    }
  }
  &__right-box__edit-btn{
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #668ad8;/*ボタン色*/
    color: #FFF;
    border-bottom: solid 4px #627295;
    border-radius: 3px;
    a{text-decoration: none;}
      a:link{color: white;}
      a:visited{color: white;}
  }
  &__right-box__edit-btn:active {
    /*ボタンを押したとき*/
    transform: translateY(4px);/*下に動く*/
    border-bottom: none;/*線を消す*/
  }
}

.messages{
  height: calc(100vh - 200px);
  padding: 20px 0px;
  // background-color: skyblue;
  background: url("line-back.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  overflow: scroll;
  box-sizing: border-box;
}

.message-box{
  display: flex;
  padding: 10px 10px;
}

.message__user-image{
  background: white;
  width:  68px;       /* ※縦横を同値に */
  height: 68px;       /* ※縦横を同値に */
  border-radius: 50%;  /* 角丸半径を50%にする(=円形にする) */
}

.message-box__left__user-name{
  width:68px;
  color: #434a54;
  font-size: 16px;
  text-align: center;
}

.message-box__right{
  display:flex;
  align-items: flex-end;
  margin-bottom:25px;
}

.message-box__right__message{
  position: relative;
  min-width: 50px;
  max-width: 80%;
  min-height: 68px;
  padding: 25px 10px 25px 10px;
  margin-left: 20px;
  color: #555;
  font-size: 16px;
  background: #e0edff;
  border-radius: 20px;
  color: #434a54;
  font-size: 20px;
}

.message__content{
  line-height:100%;
}

.message-box__right__date{
  color: #4d1d1d;
  font-size: 12px;
  margin-left: 10px;
}

.message-box__right__message:before { //指定した要素の子要素として三角を付ける
  content: "";
  position: absolute;
  top: 50%;
  left: -25px; //-25
  margin-top: -15px;
  border: 15px solid transparent; //transparentで透明
  border-right: 15px solid #e0edff; //rightだけ白にして境界線で三角作る
  width:0px;
  height:0px;
}