.form{
  height:90px;
  width:100%;
  padding:20px 40px;
  background:#eeeeee;
  box-sizing:border-box;
  &__mask{
    position: relative;
    &__image{
      font-size: 1.3rem;
      position: absolute;
      top: 15px;
      right: 10px;
      cursor: pointer;
    }
  }
  &__message{
    box-sizing: border-box;
    height: 50px;
    width: 100%;
    padding: 0 40px 0 10px;
    color: #434a54;
    border-style: none;
    border-radius: 25px;
    outline: none;
  }
  &__submit{
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #668ad8;/*ボタン色*/
    color: #FFF;
    border-bottom: solid 5px #627295;
    outline: none;
    border-radius: 25px;
    margin-left: 10px;
  }
  &__submit:active {
    /*ボタンを押したとき*/
    // -webkit-transform: translateY(4px);
    // transform: translateY(4px);/*下に動く*/
    border-bottom: none;/*線を消す*/
  }
}

.form form{
  display:flex;
}

#message_image{
  display:none;
}

.field_with_errors{
  width:100%;
}